.user-header {
  height: 100px;
}

.user-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.user-page h1 {
  margin: 50px 0;
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 3vw;
}

.user_img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px black solid;
  object-fit: cover;
}

.user_data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.user_data-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.user_data-content {
  margin-bottom: 2rem;
}

.user_container label {
  margin-bottom: 0.6rem;
}

.label-user-input-file {
  font-weight: bold;
}

.user_container input {
  height: 2rem;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0 0.5rem;
}

.user_container input:focus {
  border: none;
  outline: 1px solid #fd6c42;
}

.user-form_btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.form-user-button {
  width: 50%;
  min-width: 250px;
  height: 40px;
  margin: 20px auto;
  border-radius: 20px;
}

.form-user-button::after {
  border-radius: 20px;
}

@media all and (max-width: 992px) {
  .user_container {
    flex-direction: column;
    margin: 0;
  }
}
