.post-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.post-page-header {
  height: 100px;
}

.post-page-form {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3vw;
}

.post-page-form_data-container,
.post-page-form_btn-container,
.post-page-form_media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-page-form_data-container {
  width: 50%;
}

.post-page-form_btn-container,
.post-page-form_media-container {
  width: 20%;
}

.post-page-form_data-container label {
  margin-bottom: 0.6rem;
}

.post-page-form_data-container input,
.post-page-form_data-container textarea {
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 90%;
}

.post-page-form_data-container input:focus,
.post-page-form_data-container textarea:focus {
  border: none;
  outline: 1px solid #fd6c42;
}

.post-page-form_data-container input {
  height: 2rem;
  padding: 0 0.5rem;
}

.post-page-form_data-container textarea {
  padding: 0.5rem 0.5rem;
  height: 450px;
  line-height: 1.2rem;
}

.post-page-btn {
  min-width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.post-page-btn::after {
  border-radius: 20px;
}

.post-page-img_preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px 0;
}

.post-page_title {
  margin-bottom: 20px;
}

.post-page_data-container {
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 700px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.post-page_data {
  width: 95%;
}

.post-page_image {
  max-width: 80%;
  height: auto;
  object-fit: cover;
  margin: auto;
  display: block;
}

.post-page_txt {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  text-align: justify;
}

.post-page-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70px;
  margin-bottom: 1rem;
}

.arrow {
  cursor: pointer;
}
@media all and (max-width: 992px) {
  .post-page-body {
    padding-top: 20px;
    width: 100%;
  }

  .post-page-form {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .post-page-form_data-container,
.post-page-form_btn-container,
.post-page-form_media-container {
  width: 100%;
}

.post-page-form_data-container {
  margin-top: 2rem;
}

.post-page-form_data-container textarea {
  height: 300px;
}

.post-page_data-container {
  width: 100%;
  border-radius: 0;
}

.post-page_txt {
  padding-right: 10px;
}

.post-page-img_preview {
  width: 50%;
  max-height: 400px;
}
}

