.post {
  max-width: 600px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.post-created-info {
  font-size: .8rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.post-header h2 {
  margin-bottom: 1rem;
}

.post-likes {
  display: flex;
  justify-content: space-between;
  width: 80px;
  position: relative;
  bottom: 30px
}