.post {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 50px;
}

.post-content {
  border-radius: 10px 10px 0 0;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.post-content:hover {
  cursor: pointer;
  box-shadow: 0 -1px 20px rgba(231, 94, 3, 0.6);
  border-radius: 10px;
}

.post-link {
  text-decoration: none;
  color: black;
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 20px;
}

.post-header-content {
  display: flex;
  align-items: center;
}

.post-header-content img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: .5rem;
}

.post-created-info {
  font-size: .8rem;
  font-style: italic;
}

.post-body {
  padding: 0px 40px 20px 20px;
}

.post-body h2 {
  margin-bottom: 1rem;
}

.post-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70px;
  position: absolute;
  left: 95%;
  top: 30%
}

.post-user-link {
  text-decoration: none;
  color: black;
}

.post-user-link:hover {
  text-decoration: underline;
}

.post-img {
  margin-top: 1rem;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 500px;
}

.post-like-number {
  font-weight: bold;
  font-size: 0.9rem;
}

.post-like-number.green{
  color: green
}

.post-like-number.red{
  color: #A30000
}

.arrow {
  width: 20px;
  height: 20px;
}

.arrow.green{
  border-radius: 50%;
  background-color: rgba(0, 255, 42, 0.3);
}

.arrow.red{
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.6);
}

@media all and (max-width: 767px) {
.post {
  max-width: 95%;
}
}