.overlay.create-post-and-comment {
  border-radius: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.form-create-post-and-comment_close-button {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  left: 88%;
}

.form-create-post-and-comment_close-button::after {
  border-radius: 10px;
}

.modal.create-post-and-comment {
  width: 100%;
  top: 45%
}

.modal-create-post-and-comment-form {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.modal-create-post-and-comment-form label {
  margin: 1rem 0;
}

.modal-create-post-and-comment-form input {
  height: 2rem;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

.modal-create-post-and-comment-form textarea {
  padding: .5rem .5rem;
  margin-bottom: 1rem;
  height: 200px;
}

.modal-password-error-container {
  height: 3rem;
}

.modal-password-succes-container {
  height: 3rem;
}

.modal-create-post-and-comment-form input:focus,
.modal-create-post-and-comment-form textarea:focus {
  outline: none;
  border: 1px solid #fd6c42;
}

.modal-post-and-comment_img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.modal-post-and-comment_img-input-container {
  display: flex;
  flex-direction: column;
}

.modal-post-and-comment_img-preview {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.modal-post-and-comment_error-container {
  margin-top: 1rem;
  height: 40px;
}

@media all and (max-width: 767px) {
  .modal.create-post-and-comment {
    width: 95%;
    top: 50%;
    max-height: 98vh;
  }

  .form-create-post-and-comment_close-button {
    left: 80%;
  }

  .modal-create-post-and-comment-form textarea {
    height: 100px;
  }

  .modal-post-and-comment_img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}