.login-page, .register-page {
  background-image: url('./Assets/Background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page img, .register-page img {
  position: absolute;
  top: 40px;
}

textarea {
  resize: none;
}