.home-header {
  height: 100px;
}

.home-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post-btn {
  margin: 3rem 0;
  width: 500px;
  height: 60px;
  border-radius: 40px;
}

.create-post-btn::after {
  border-radius: 40px;
}

.home-post-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:
   center;
}
.create-post-btn h1 {
  font-size: 1.5rem;
}