.home-header {
  height: 100px;
}

.home-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post-btn {
  margin: 3rem 0;
  background: rgb(255,205,195);
  background: linear-gradient(189deg, rgba(255,205,195,1) 0%, rgba(253,108,66,1) 100%);  
  color: #000520;
  border: none;
  width: 350px;
  height: 80px;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.create-post-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background: rgb(255,205,195);
  background: linear-gradient(189deg, rgba(255,205,195,1) 0%, rgba(253,108,66,1) 100%);
  filter: brightness(140%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1; 
}

.create-post-btn:hover {
  transform: scale(1.02);
}

.create-post-btn:hover::after {
  opacity: 1;
}


.home-post-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:
   center;
}

.arrow {
  width: 20px;
  height: auto;
}