nav {
  background-color: #FD6C42;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
}

nav, .nav__left-block, .user-insert, .nav__right-block {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: auto;
  width: 280px;
}

.nav-home-btn {
  width: 20px;
  height: auto;
  margin: 0 40px;
  transition: transform 0.2s ease-in-out;
}

.nav-home-btn:hover {
  transform: scale(1.5);
}

.nav__right-block {
  height: 100%;
}

.user-insert {
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding-right: 1rem;
  border-radius: 30px ;
  transition: 0.15s ease-in-out;
  font-weight: bold;
  font-size: 1.3rem;
}

.user-link {
  text-decoration: none;
  color: black;
}

.user-insert img {
  object-fit: cover;
  height: 100%;
  width: 60px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  background: white;
}

.user-insert:hover {
  background-color: rgb(255,205,195);
  cursor: pointer;
}

.Logout-btn {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logout-btn img {
  object-fit: cover;
  height: 100%;
}

.Logout-btn:hover {
  background-color: rgb(255,205,195);
}