/* ------ MODAL GENERAL ------ */

.toggle-modal {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  top: 190px;
  left: 145px;
  background: rgb(255, 205, 195);
  background: linear-gradient(
    229deg,
    rgba(255, 205, 195, 1) 0%,
    rgba(253, 108, 66, 1) 100%
  );
  color: #000520;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 3px 10px rgb(50, 50, 50, 0.5);
  z-index: 1;
}

.toggle-modal:hover {
  filter: brightness(140%);
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(49, 49, 49, 0.8);
  border-radius: 20px;
  z-index: 4;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modal-content p {
  position: relative;
}

.modal-content p {
  line-height: 1.4;
}

.close-modal {
  background: rgb(255, 205, 195);
  background: linear-gradient(
    189deg,
    rgba(255, 205, 195, 1) 0%,
    rgba(253, 108, 66, 1) 100%
  );
  color: #000520;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  border-radius: 5px;
  position: relative;
  left: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.close-modal:hover {
  filter: brightness(140%);
}

@media all and (max-width: 767px) {
  .toggle-modal {
    top: 172px;
    left: 125px;
  }
}

/* ------ MODAL PASSWORD MODIFICATION ------ */

.overlay.password {
  border-radius: 0;
}

.modal.password {
  width: 500px;
}

.close-modal.password {
  position: absolute;
  left: 47.3%;
  z-index: 5;
  top: 2%;
  width: 100px;
  height: 2.5rem;
}

.modal-password-form {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.modal-password-form label {
  margin: 1rem 0;
}

.modal-password-form input {
  height: 2rem;
  padding: 0 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-password-error-container {
  height: 3rem;
}

.modal-password-succes-container {
  height: 3rem;
}
